@media (max-width: 1150px) {
    .container {
        flex-direction: column;
        height: auto;
        align-items: center;
        width: auto;
    }

    .vertical-line {
        display: none;
    }

    .advantages-info {
        height: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .big-round {
        margin: 0;
    }

    .graphic-front {
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
    }

    .opportunity-front {
        position: relative;
        top: 0;
        right: 0;
        box-shadow: none;
    }

    .container-graphic {
        height: auto;
        margin-bottom: 30px;
    }

    .graphic-block {
        height: auto;
    }

    .container-opportunity {
        height: auto;
    }

    .opportunity-block {
        height: auto;
        margin-bottom: 30px;
    }

    .opportunity-element {
        height: auto;
    }

    .info {
        align-items: center;
    }

    .info-title {
        text-align: center;
    }

    .block{
        display: flex;
        width: auto;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .video-block{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-menu{
        flex-direction: column;
    }

    .graphic-element{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .opportunity-element{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header{
        width: auto;
        height: 100%;
    }

    .offer-element{
        height: auto;
        flex-direction: column;
        width: auto;
        position: relative;
        top: 0;
    }

    .container-video-block{
        height: 100%;
    }

    .offer-pro-element{
        margin-top: 20px;
    }
    .offer-comment{
        text-align: center;
    }

    .header-info{
        height: auto;
        width: auto;
    }

    .container-advantages{
        width: auto;
    }

    .advantages-info{
        width: auto;
    }

    .marketing-block-container{
        width: auto;
    }

    .marketing-block-icons{
        width: border-box;
        height: auto;
    }

    .marketing-block-info{
        width: auto;
        height: auto;
        margin: 25px 0;
    }

    .reviews-element{
        flex-direction: column;
        height: auto;
        align-items: center;
        border: none;
    }
    .registration-container{
        height: auto;
        align-items: center;
    }
    .reviews-trial-offer{
        flex-direction: column;
        align-items: center;
    }

    .reviews-cart{
        border: none;
    }

    .registration-form{
        width: 450px;
        margin: 20px 0;
        padding: 30px;
        height: 480px;
    }
    .reviews-offer{
        margin: 20px 0;
    }
    .registration-instruction{
        margin: 20px 0;
    }
    .footer-info{
        flex-direction: column;
        gap: 15px;
    }
    .footer-info-item{
        justify-content: center;
    }
    .footer-element{
        flex-wrap: wrap;
        height: auto;

    }
    .footer-element-about{
        padding-left: 50px;
    }
    .footer-links{
        gap: 20px;
    }
    .video-button-shadow{
        width: 80px;
        height: 80px;
    }
    .video-block-title{
        font-size: 28px;
    }
    .video-block-info{
        font-size: 14px;
    }
}