body{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.header{
    position: relative;
    height: 100vh;
    color: white;
    background: url(../img/header-background.png) no-repeat center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px #15264990, inset 0 0 0 1000px #4F525C66;
}

.header-menu{
    display: flex;
    align-items: center;
    width: 100%;
    height: max-content;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    z-index: 9999;

}
.header-menu-background {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.3em;
    background: linear-gradient(0deg, rgba(255,255,255,1) 22%, rgba(231,183,183,1) 30%, rgba(186,0,0,1) 63%, rgba(255,255,255,1) 78%);
    transition: opacity 0.5s ease-out;
    z-index: 2;
    opacity: 0;
}
.header-menu-content{
    position: relative;
    z-index: 99;
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.header-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 595px;
    height: max-content;
    text-align: center;
    align-self: center;
}

ul.header-nav-list li{
    display: inline;
    margin-right: 25px;
    list-style-type: none;
    align-content: flex-end;
}

.our-advantages{
    min-height: 535px;
    display: flex;
    align-items: center;
}

.advantages-info{
    display: flex;
    width: 1103px;
    height: 243px;
    align-items: stretch;
    justify-content: space-between;
    padding: 15px;
}

h1{
    font-size: 46px;
    line-height: 50px;
    margin: 0;
}
.round_pink{
    background-color: #FC5C65;
}

.round_aqua{
    background-color: #50E3C2;
}

.round_purple{
    background-color: #A665FB;
}

.round{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.info-content{
    font-size: 20px;
    line-height: 34px;
    max-width: 580px;
    text-align: center;
}

.advantage{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 260px;
}

.advantage-title{
    font-size: 22px;
}

.advantage-content{
    font-size: 18px;
    line-height: 34px;
}

.graphic-block{
    height: 704px;
    background-color: #F8FBFE;
}

.graphic-back{
    width: 388px;
    height: 515px;
    background: url(../img/graphic-back.png);
    background-size: cover;
    margin-left: 25px;
}

.graphic-front{
    position: absolute;
    top: 150px;
    left: 220px;
    width: 383px;
    height: 404px;
    background: url(../img/graphic-front.png);
    background-size: cover;
    box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.136011)
}

.info{
    width: 436px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.info-title{
    font-size: 38px;
    line-height: 50px;
}

.info_content{
    font-size: 18px;
    line-height: 32px;
    text-align: left;
}
.statistic-block-content{
    text-align: center;
}

#video-info{
    text-align: center;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #50E3C2;
    border-radius: 3px;
    font-size: 16px;
    width: 227px;
    font-weight: 600;
    color: #0F3D33;
    height: 50px;
}

.button-transparent{
    background: #50E3C233;
}

.vertical-line{
    align-self: flex-end;
    width: 0;
    height: 95px;
    border: 1px solid #E8E8EA;
    margin: 0 50px;
}

.header-icon{
    background: url(../img/header-menu.png);
    background-size: contain;
    width: 100px;
    height: 25px;
}

.round-big_pink{
    background-color: #FC5C6511;
}

.round-big_aqua{
    background-color: #50E3C211;
}

.round-big_purple{
    background-color: #A665FB11;
}

.round-big{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.container-advantages{
    justify-content: center;
    align-items: center;
}

.container-graphic{
    justify-content: space-between;
    align-items: center;
}

.container-header{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: white;
}

a.button-link{
    color: black;
    font-weight: bold;
}

.container{
    display: flex;
    max-width: 1145px;
    height: 100%;
    margin: 0 auto;
}

.container-opportunity{
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.opportunity-back{
    width: 383px;
    height: 355px;
    background: url(../img/oportunity-back.png);
    background-size: cover;
}

.opportunity-front{
    position: absolute;
    right: 215px;
    top: -40px;
    width: 321px;
    height: 428px;
    background: url(../img/oportunity-front.png);
    background-size: cover;
    box-shadow: 0px 22px 54px rgba(0, 0, 0, 0.136011);
}

.opportunity-block{
    width: 100%;
    height: 649px;

}

.video-block{
    position: relative;
    height: 526px;
}

.container-video-block{
    justify-content: center;
    align-items: center;
    color: white;
}
.video-shadow{
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: inset 0 0 0 1000px #222D3D77;
    height: 100%;
}

#videoRabbit{
    object-fit: fill;
}
.video-block-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 750px;
    height: 286px;
    top: 0;
}

.video-block-title{
    text-align: center;
    font-size: 38px;
    line-height: 50px;
    font-weight: bold;
}

.statistic-block{
    height: 507px;
    background: #F8FBFE;
}

.statistic-block-container{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 580px;
}

.marketing-block{
    min-height: 724px;
}

.statistic-block-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 750px;
    height: 280px;
    text-align: center;
    align-items: center;
}

.statistic-block-button{
    font-size: 12px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E8E8EA;
    width: 250px;
    height: 46px;
    border-radius: 23px;
    text-align: center;
}

.statistic-button{
    width: 126px;
    height: 38px;
    border-radius: 23px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F8FBFE;
    cursor: pointer;
}

.statistic-button_active{
    background: #50E3C2;
}


.offer-element{
    position: absolute;
    top: -50px;
    width: 730px;
    height: 515px;
    display: flex;
    justify-content: space-between;
}

.offer{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: white;

}

.offer-name{
    font-size: 13px;
    line-height: 32px;
    color: #878B90;
    text-transform: uppercase;
    font-weight: bold;
}

.offer-price {
    font-size: 46px;
    line-height: 60px;
    font-weight: bold;
    display: flex;
    align-items: baseline;
}
.sub{
    font-size: 17px;
}
.sup{
    font-size: 30px;
    align-self: flex-start;
}

.offer-content{
    line-height: 23px;
    color: #323232;
    width: 225px;
}

.offer-list{
    list-style-image: url("../img/path.png");
    list-style-type: none;
    font-size: 18px;
    line-height: 32px;
    align-self: flex-start;
    padding: 0;
    margin: 20px;
}

.offer-list-disabled{
    text-decoration: line-through;
    color: #8E8E8E;
    list-style-image: url("../img/path_disabled.png");
}


.offer-line{
    width: 100%;
    height: 4px;
    border-radius: 23px;
    background: #FFFFFF;
}

.offer_active .offer-line{
    background: #50E3C2;
}

.marketing-block-container{
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    min-height: 600px;
}

.offer-cart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 480px;
    padding-left: 50px;
}

.marketing-block-content{
    font-size: 16px;
    line-height: 28px;
    color: #878B90;
}

.marketing-block-info{
    width: 851px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.marketing-block-icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.marketing-logo_growbots{
    background: url(../img/growbots.png);
    height: 35px;
}

.marketing-logo_funnel{
    background: url(../img/funnel.png);
    height: 42px;
}

.marketing-logo_digitalocean{
    background: url(../img/digitalocean.png);
    height: 39px;
}

.marketing-logo_sketch{
    background: url(../img/sketch.png);
    height: 39px;
}

.icon{
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px;
}

.video-button-shadow{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.video-button{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid #50E3C2;
    border-bottom: 10px solid transparent;
}

.graphic-element{
    position: relative;
    max-width: 620px;
}

.opportunity-element{
    position: relative;
    height: 297px;
}


.reviews-element{
    display: flex;
    background: #FFFFFF;
    border: 1px solid #E8E8EA;
    box-sizing: border-box;
    border-radius: 10px;
    height: 405px;
}

.reviews-cart{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #E8E8EA;
    width: 90%;
}

.reviews-cart-quotes{
    flex: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 98px;
    line-height: 119px;
    letter-spacing: -0.1px;
    color: #DBE4F1;
}

.reviews-cart-content{
    flex: 1;
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.1px;
    color: #000000;
}
.reviews-cart-avatar{
    background-image: url("../img/review-cart-avatar.png");
    background-size: cover;
    width: 43px;
    height: 43px;
    border-radius: 50%;
}

.reviews-cart-name{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.3px;
    color: #323232;
}

.reviews-cart-from{
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.3px;
    color: #323232;
}

.reviews-cart-name-form{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.reviews-cart-user{
    flex: 1;
    align-items: flex-end;
    display: inline-flex;
}

.avatar2{
    background-image: url("../img/review-cart-avatar2.png");
}

.avatar3{
    background-image: url("../img/review-cart-avatar3.png");
}

.reviews-element:last-child{
    border: none;
}

.reviews-trial-offer{
    display: flex;
}

.reviews-offer{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: -0.221053px;
    color: #000000;
}

.reviews-container{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 700px;
}

.reviews-button{
    margin-left: 40px;
}

.registration{
    background: linear-gradient(to bottom, #FFFFFF 35%,  #F8F8FE 45%)
}
.registration-container{
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.registration-instruction{
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.3px;
}

.registration-form input{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
    color: #323232;
}
.registration-form{
    width: 558px;
    height: 515px;
    left: 524px;
    top: 4884px;
    background: #FFFFFF;
    border: 1px solid #E8E8EA;
    box-sizing: border-box;
    box-shadow: 0 22px 54px rgba(67, 87, 138, 0.29);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 120px;
}


.attach{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registration-btn{
    max-width: 458px;
    height: 50px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 16px;
    color: #0F3D33;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.attach-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 130px;
    height: 35px;
    background: #F2F5F8;
    border-radius: 3px;
}

.attach-input{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;

}

.attach-btn-icon{
    width: 13px;
    height: 15px;
    background-image: url("../img/object.svg");
    background-size: cover;
}
.attach-btn-text{
    font-size: 14px;
    line-height: 50px;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;
    color: #323232;
    margin-left: 8px;
}
.attach-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 50px;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;
    color: #323232;
}

.footer{
    background: linear-gradient(315.06deg, #152649 5%, #4F525C 100%);
    color: #F8FBFE;
    font-size: 12px;
    line-height: 18px;
}

.footer-container{
    flex-direction: column;
    padding-bottom: 30px;
}

.footer-menu{
    display: flex;
    margin: 37px 0;
    width: 100%;
    justify-content: space-between;
}

.footer-menu-column{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 235px;
}

.footer-list{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer-list li{
    font-size: 16px;
    line-height: 34px;
    margin-bottom: 12px;
}
.menu-category{
    padding-bottom: 23px;
    padding-top: 37px;
    font-size: 14px;
    line-height: 32px;
    color: #DBE4F1;
    opacity: 0.7;
}

.footer-info{
    display: flex;
    width: 100%;
}

.footer-info-item{
    flex: 1;
    display: flex;
    flex-direction: row;
}

.footer-nav{
    display: flex;
    justify-content: space-around;
}

.footer-links{
    justify-content: flex-end;
    display: flex;
    gap: revert;
}

.footer-links-item{
    width: 16px;
    height: 16px;
    background-size: cover;
    margin-left: 15px;
}

.tweeter-link{
    background-image: url("../img/twitter_icon.png");
}
.facebook-link{
    background-image: url("../img/f_icon.png");
}

.google-link{
    background-image: url("../img/g_icon.png");
}