body{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.header{
    position: relative;
    height: 535px;
    color: white;
    background: url(../img/header-background.png) no-repeat center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px #19197077;
}

.header-menu{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.header-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    max-width: 585px;
    height: 260px;
    text-align: center;
}

ul.header-nav-list li{
    display: inline;
    margin-right: 25px;
    list-style-type: none;
    align-content: flex-end;
}

.our-advantages{
    height: 535px;
}

.advantages-info{
    display: flex;
    width: 1103px;
    height: 243px;
    align-items: stretch;
    justify-content: space-between;
    padding: 15px;
}

h1{
    font-size: 46px;
    line-height: 68px;
}
.pink-round{
    background-color: #FC5C65;
}

.aqua-round{
    background-color: #50E3C2;
}

.purple-round{
    background-color: #A665FB;
}

.round{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.info-content{
    font-size: 20px;
    line-height: 34px;
}

.advantage{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advantage-title{
    font-size: 22px;
}

.advantage-content{
    font-size: 18px;
    line-height: 34px;
}

.graphic-block{
    height: 704px;
    background-color: #F8FBFE;
}

.graphic-back{
    width: 388px;
    height: 515px;
    background: url(../img/graphic-back.png);
    background-size: cover;
    margin-left: 25px;
}

.graphic-front{
    position: absolute;
    top: 150px;
    left: 220px;
    width: 383px;
    height: 404px;
    background: url(../img/graphic-front.png);
    background-size: cover;
    box-shadow: 5px 5px 12px 0;
}

.info{
    width: 436px;
    height: 345px;
    display: flex;
    flex-direction: column;
}

.info-title{
    font-size: 38px;
    line-height: 50px;
}

.info_content{
    font-size: 18px;
    line-height: 32px;
    text-align: center;
}

.button{
    padding: 10px 27px;
    background: #50E3C2;
    border-radius: 3px;
    font-size: 16px;
    width: 175px;
}

.button-transparent{
    background: #50E3C277;
}

.vertical-line{
    align-self: flex-end;
    width: 0;
    height: 95px;
    border: 1px solid #E8E8EA;
}

.header-icon{
    background: url(../img/header-menu.png);
    background-size: contain;
    width: 100px;
    height: 25px;
}

.big-pink{
    background-color: #FC5C6511;
}

.big-aqua{
    background-color: #50E3C211;
}

.big-purple{
    background-color: #A665FB11;
}

.big-round{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.container-advantages{
    justify-content: center;
    align-items: center;
}

.container-graphic{
    justify-content: space-between;
    align-items: center;
}

.container-header{
    align-content: flex-start;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: white;
}

a.button-link{
    color: black;
    font-weight: bold;
}

.container{
    display: flex;
    width: 1145px;
    height: 100%;
}

.container-opportunity{
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}

.opportunity-back{
    width: 383px;
    height: 355px;
    background: url(../img/oportunity-back.png);
    background-size: cover;
}

.opportunity-front{
    position: absolute;
    right: 215px;
    top: -40px;
    width: 321px;
    height: 428px;
    background: url(../img/oportunity-front.png);
    background-size: cover;
    box-shadow: 5px 5px 12px 0;
}

.opportunity-block{
    width: 100%;
    height: 649px;
    background-color: #FFFFFF;
}

.video-block{
    position: relative;
    height: 526px;
}

.block{
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-video-block{
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, .6);
    pointer-events: none;

}

.video-block-background{
    width: 100%;
    height: 100%;
}

.video-block-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 750px;
    height: 286px;
    top: 0;
}

.video-block-title{
    text-align: center;
    font-size: 38px;
    line-height: 50px;
    font-weight: bold;
}

.statistic-block{
    height: 507px;
    background: #F8FBFE;
}

.statistic-block-container{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 580px;
}

.marketing-block{
    height: 724px;
}

.statistic-block-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 750px;
    height: 280px;
    text-align: center;
    align-items: center;
}

.statistic-block-button{
    font-size: 12px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E8E8EA;
    width: 250px;
    height: 46px;
    border-radius: 23px;
    text-align: center;
}

.statistic-button{
    width: 126px;
    height: 38px;
    border-radius: 23px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistic-block-button-yearly{
    background: #50E3C2;
}

.statistic-block-button-monthly{
    background: #F8FBFE;
}

.offer-element{
    position: absolute;
    top: -50px;
    width: 730px;
    height: 515px;
    display: flex;
    justify-content: space-between;
}

.offer{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: white;
}

.offer-name{
    font-size: 13px;
    line-height: 32px;
    color: #878B90;
    text-transform: uppercase;
    font-weight: bold;
}

.offer-price{
    font-size: 46px;
    line-height: 60px;
    font-weight: bold;

}

.offer-content{
    line-height: 23px;
    color: #323232;
    width: 225px;
}

.offer-list{
    list-style: none;
    font-size: 18px;
    line-height: 32px;
    align-self: flex-start;
    margin-left: -40px;
}

.offer-disabled{
    text-decoration: line-through;
    color: #8E8E8E;
}

ul.offer-list li:before {
    content: '✓';
    padding-right: 8px;
}

.offer-line{
    width: 100%;
    height: 4px;
    border-radius: 23px;
    background: #FFFFFF;
}

.pro-line{
    background: #50E3C2;
}

.marketing-block-container{
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.offer-cart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    height: 480px;
}

.marketing-block-content{
    font-size: 16px;
    line-height: 28px;
    color: #878B90;
}

.marketing-block-info{
    width: 851px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.marketing-block-icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.marketing-block-icon1{
    background: url(../img/growbots.png);
}

.marketing-block-icon2{
    background: url(../img/funnel.png);
}

.marketing-block-icon3{
    background: url(../img/digitalocean.png);
}

.marketing-block-icon4{
    background: url(../img/sketch.png);
}

.icon{
    height: 42px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px;
}

.video-button-shadow{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: dimgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-button{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 15px solid #50E3C2;
    border-bottom: 10px solid transparent;
}

.graphic-element{
    position: relative;
}

.opportunity-element{
    position: relative;
    height: 297px;
}


.reviews-element{
    display: flex;
    background: #FFFFFF;
    border: 1px solid #E8E8EA;
    box-sizing: border-box;
    border-radius: 10px;
    height: 405px;
}

.reviews-cart{
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #E8E8EA;
}

.reviews-cart-quotes{
    font-style: normal;
    font-weight: normal;
    font-size: 98px;
    line-height: 119px;
    letter-spacing: -0.1px;
    color: #DBE4F1;
}

.reviews-cart-content{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.1px;
    color: #000000;
}
.reviews-cart-avatar{
    background-image: url("../img/review-cart-avatar.png");
    background-size: cover;
    width: 43px;
    height: 43px;
    border-radius: 50%;
}

.reviews-cart-name{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: -0.3px;
    color: #323232;
}

.reviews-cart-from{
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.3px;
    color: #323232;
}

.reviews-cart-name-form{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.reviews-cart-user{
    display: inline-flex;
}

.avatar2{
    background-image: url("../img/review-cart-avatar2.png");
}

.avatar3{
    background-image: url("../img/review-cart-avatar3.png");
}

.reviews-element:last-child{
    border: none;
}

.reviews-trial-offer{
    display: flex;
}

.reviews-offer{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 50px;
    letter-spacing: -0.221053px;
    color: #000000;
}

.reviews-container{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 700px;
}

.reviews-button{
    margin-left: 40px;
}

.registration{
    background: linear-gradient(to bottom, #F8F8FE 10%,  #E5E5E5 75%)
}
.registration-container{
    flex-direction: column;
    align-items: center;
}

.registration-instruction{
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.3px;
}

.input{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
}
.registration-form{
    width: 558px;
    height: 515px;
    left: 524px;
    top: 4884px;
    background: #FFFFFF;
    border: 1px solid #E8E8EA;
    box-sizing: border-box;
    box-shadow: 0 22px 54px rgba(67, 87, 138, 0.29);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 120px;
}


.attach{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.registration-btn{
    background: #50E3C277;
    border-radius: 3px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #0F3D33;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.attach-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 130px;
    height: 35px;
    background: #F2F5F8;
    border-radius: 3px;
}

.attach-input{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.attach-btn-icon{
    width: 13px;
    height: 15px;
    background-image: url("../img/object.svg");
    background-size: cover;
}
.attach-btn-text{
    font-size: 14px;
    line-height: 50px;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;
    color: #323232;
    margin-left: 8px;
}
.attach-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 50px;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;
    color: #323232;
}

.footer{
    background: linear-gradient(315.06deg, #152649 5%, #4F525C 100%);
    color: #F8FBFE;
    font-size: 12px;
    line-height: 18px;
}

.footer-container{
    flex-direction: column;
    margin-bottom: 30px;
}

.footer-element{
    display: flex;
    margin: 37px 0;
    width: 100%;
    justify-content: space-between;
}

.footer-element-about{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 165px;
}

.element-item{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 34px;
    margin-bottom: 12px;
}

.element-name{
    padding-bottom: 23px;
    padding-top: 37px;
    font-size: 14px;
    line-height: 32px;
    color: #DBE4F1;
}

.footer-info{
    display: flex;
    width: 100%;
}

.footer-info-item{
    flex: 1;
    display: flex;
}

.footer-nav-item{
    margin-right: 30px;
}

.footer-links{
    justify-content: flex-end;
}

.footer-links-item{
    width: 16px;
    height: 16px;
    background-image: url("../img/twitter icon.png");
    background-size: cover;
    margin-left: 15px;
}

.links-item2{
    background-image: url("../img/f icon.png");
}

.links-item3{
    background-image: url("../img/g icon.png");
}